body {
  background: linear-gradient(to bottom, #000, #330033);
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 30px;
  overflow-x: hidden;
}

input, button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

button {
  background: pink;
  font-weight: bold;
}

.hidden {
  display: none;
}

.letter {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}
